*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --black: #282a3b;
  --grey: #bebec5;
  --light-grey: #eeeeee;
  --green: #78c28a;
  --text-grey: #bebec5;
  --dark-gey: #434343;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--black);
}

.content-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.nav-wrapper {
  box-shadow: 0 0px 6px 0px var(--grey);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  margin-bottom: 2px;
}

/* left links and logo */
nav .left-links {
  display: flex;
  align-items: center;
}

nav .logo {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 60px 0 25px;
}

nav .tabs {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav .tabs li {
  font-weight: 600;
  font-size: 0.8rem;
  margin-right: 25px;
  padding: 17px 0;
}

nav .tabs li:hover {
  box-shadow: 0 1px 0 0px black;
}

/* right links and logo */
nav .right-links {
  display: flex;
  align-items: center;
}
nav .right-links > div {
  min-width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .right-links .search {
  border: 1px solid var(--grey);
}

nav .right-links .search input {
  border-radius: 4px;
  border: 1px solid var(--grey);
  padding: 3px;
  display: none;
}

/* will show the input */
nav .right-links .search.show-input {
  border: none;
}
nav .right-links .search.show-input input {
  display: block;
}

nav .right-links .search img {
  width: 26px;
  height: 26px;
}

nav .right-links .notification {
  background: #f47564;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
}

nav .right-links .avatar {
  background-image: url(https://randomuser.me/api/portraits/men/33.jpg);
  background-size: cover;
} /*Navbar end*/

/* Content start */
section.content {
  flex-grow: 1;
  flex-basis: 600px;
}

section.content .articles {
  margin: 61px 170px 34px;
}

section.content .articles article {
  border-bottom: 0.1px solid var(--light-grey);
  padding-bottom: 30px;
  margin-bottom: 35px;
}

section.content .articles .testimonial {
  color: var(--text-grey);
  font-size: 0.8rem;
}

section.content .articles .post-card {
  display: flex;
  margin-top: 8px;
}

section.content .articles .content {
  flex-grow: 1;
}

section.content .articles .content h1 {
  color: var(--dark-gey);
}

section.content .articles .content .sub-title {
  color: var(--dark-gey);
  padding: 5px 0;
}

section.content .articles .content .excerpt {
  color: var(--text-grey);
  padding: 0 30px 0 0;
  font-size: 1.1rem;
  line-height: 1.5;
}

section.content .articles .image {
  width: 130px;
  height: 130px;
  flex-shrink: 0;
  margin-left: 25px;
}

section.content .articles .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.content .articles .drpdown {
  display: flex;
  justify-content: center;
  flex-grow: 0;
  padding: 0 0px 0 20px;
}

section.content .articles .drpdown span {
  background-image: url('../images/down-arrow.svg');
  width: 14px;
  background-repeat: no-repeat;
  height: 14px;
  background-size: contain;
  cursor: pointer;
}

section.content .articles .post-info {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

section.content .articles .post-info .bookmark {
  width: 40px;
  height: 40px;
  background-image: url(../images/bookmark.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}
section.content .articles .post-info .author-image {
  width: 42px;
  height: 42px;
}

section.content .articles .post-info .author-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
section.content .articles .post-info .info {
  display: inline-block;
  margin-left: 15px;
  font-size: 0.75rem;
  color: var(--text-grey);
}

.articles .post-info .dates {
  display: flex;
  align-items: center;
}

.articles .post-info .dates span {
  background-image: url(../images/bookmark-small.svg);
  width: 15px;
  height: 15px;
  display: inline-block;
  background-size: cover;
  margin: 0 2px;
}

.articles .post-info .dates span.green-bookmark {
  background-image: url(../images/bookmark-small-green.svg);
}

/* start writing call-to-action */
section.content .call-to-action {
  background-image: url(../images/ballons.png);
  height: 400px;
  background-size: cover;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

section.content .call-to-action > div {
  margin: 0 170px;
}

section.content .call-to-action button {
  margin-top: 26px;
  border: none;
  background: hsl(135, 38%, 55%);
  color: #fff;
  padding: 7px 15px;
  border-radius: 23px;
  font-size: 1.1rem;
}

/* Featured applications start */
section.content .featured-application {
  margin-top: -16px;
  font-size: 0.9rem;
  font-weight: 600;
}

section.content .featured-application .bar {
  display: flex;
  justify-content: space-between;
}

section.content .featured-application .bar div:nth-child(1) {
  color: var(--dark-gey);
  position: relative;
}

section.content .featured-application .bar div:nth-child(1):before {
  content: '';
  display: block;
  width: 9ch;
  height: 1px;
  box-shadow: 0 1px var(--dark-gey);
  position: absolute;
  top: -21px;
}

section.content .featured-application .bar div:nth-child(2) {
  color: var(--text-grey);
}

aside {
  background-color: #fdfdfd;
  min-height: calc(100vh - 50px);
  border-left: 1px solid var(--light-grey);
  flex-basis: 377px;
}

/* utility classes */
.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.quote {
  margin: 0;
  color: hsl(0, 0%, 56%);
  padding-bottom: 10px;
}

.bold {
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

.link {
  color: var(--green);
}

h1 {
  margin: 0;
}

.h1 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 10px;
}

.no-border {
  border: none !important;
}
